html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f7f9fb;
}

* {
  box-sizing: border-box;
}

pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}
